
/*------------------------------------
- COLOR primary
------------------------------------*/
.light-theme .alert-primary {
    color: #090000;
    background-color: #ff5151;
    border-color: #ff3c3c;
}

.light-theme .alert-primary hr {
    border-top-color: #ff2323;
}

.light-theme .alert-primary .alert-link {
    color: #000000;
}

.light-theme .badge-primary {
    color: #fff;
    background-color: #840000;
}

.light-theme .badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #510000;
}

.light-theme .bg-primary {
    background-color: #840000 !important;
}

.light-theme a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    background-color: #510000 !important;
}

.light-theme .border-primary {
    border-color: #840000 !important;
}

.light-theme .btn-primary {
    color: #fff;
    background-color: #840000;
    border-color: #840000;
}

.light-theme .btn-primary:hover {
    color: #fff;
    background-color: #600000;
    border-color: #510000;
}

.light-theme .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(132, 0, 0, 0.5);
}

.light-theme .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #840000;
    border-color: #840000;
}

.light-theme .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #510000;
    border-color: #410000;
}

.light-theme .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(132, 0, 0, 0.5);
}

.light-theme .btn-outline-primary {
    color: #840000;
    background-color: transparent;
    border-color: #840000;
}

.light-theme .btn-outline-primary:hover {
    color: #fff;
    background-color: #840000;
    border-color: #840000;
}

.light-theme .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(132, 0, 0, 0.5);
}

.light-theme .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #840000;
    background-color: transparent;
}

.light-theme .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #840000;
    border-color: #840000;
}

.light-theme .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(132, 0, 0, 0.5);
}

.light-theme .list-group-item-primary {
    color: #090000;
    background-color: #ff3c3c;
}

.light-theme .list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #090000;
    background-color: #ff2323;
}

.light-theme .list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #090000;
    border-color: #090000;
}

.light-theme .table-primary, .table-primary > th, .table-primary > td {
    background-color: #ff3c3c;
}

.light-theme .table-hover .table-primary:hover {
    background-color: #ff2323;
}

.light-theme .table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
    background-color: #ff2323;
}

.light-theme .text-primary {
    color: #840000 !important;
}

.light-theme a.text-primary:hover, a.text-primary:focus {
    color: #510000 !important;
}
