.separated {
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
    padding-bottom: 1rem;
}

.more-info-tooltip {
    text-decoration: underline dotted;
    cursor: pointer;
}

a {
    color: #008AA6;
}

body {
    margin: 4rem 1rem 0 1rem;
}

.main-card {
    width: 70%;
    padding: 2rem;
}

.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .name {
    color: #a61c00;
}

.about .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.navigation {
    margin-top: 2rem;
    text-align: center;
}

.navigation .navigation-link-wrapper {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.navigation .navigation-link-wrapper:not(:last-child) {
    border-right: 1px solid #a61c00;
}

.navigation .navigation-link {
    text-decoration: none;
    color: black;
    padding: 0.5rem 0;
}

.navigation .navigation-link[aria-expanded="true"] {
    border-bottom: 1px solid #a61c00;
}

.navigation .navigation-link:hover {
    border-bottom: 1px solid #a61c00;
}

#sections .section .section-card {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0;
}

#sections .section .section-card .subsection .subsection-cards {
    margin-top: 1rem;
}

#sections .section .section-card .subsection .subsection-title {
    text-align: center;
    margin-top: 1rem;
    color: #a61c00;
}

.subsection .subsection-cards .card-img-top {
    max-height: 160px;
}

.subsection .subsection-cards .edraak-img {
    padding: 40px 1.5rem;
}

.subsection .subsection-cards .ajmi-img {
    padding: 23px 1.5rem;
}

.subsection .subsection-cards .card-footer {
    text-align: center;
}

.subsection .subsection-cards .seated-img {
    filter: invert(1);
    background-color: #04238b;
    padding: 52.5px 1.5rem;
}

.subsection .subsection-cards .pvp-img {
    background-color: black;
    padding: 23px 1.5rem;
}

.subsection .subsection-cards .smacne-img {
    object-fit: contain;
    background: linear-gradient(
    to right,
    #4785fe 0%,
    #4785fe 50%,
    white 50%,
    white 100%
  );
}

.subsection .secondary-subsection:not(:first-child) {
    margin-top: 4rem;
}

.subsection .secondary-subsection-title {
    margin-top: 2rem;
    color: #a61c00;
}

.teaching .feedback-table td {
    padding: 1rem;
}

.teaching .hover-enlarge-img {
    position: relative;
    cursor: zoom-in;
    transition: transform .2s;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}

@media only screen and (min-width: 992px) {
    .teaching .hover-enlarge-img {
        transform-origin: right center;
    }
}

.teaching .hover-enlarge-img:hover{
    z-index: 2;
    transform:scale(2);
}

.research .research-items {
    margin-top: 1rem;
}

.teaching .codability_blue {
    color: #0E5999;
}

.teaching .codability_yellow {
    color: #F4B401;
}

.teaching .codability-link {
    cursor: pointer;
    text-decoration: none;
}

.teaching .codability-img {
    width: 60%;
}

.teaching .codability_yellow_with_bg {
    color: #F4B401;
    background-color: #0E5999;
}

.open-source .secondary-subsection-title {
    margin-top: 0;
}

@media only screen and (max-width: 992px) {
    .open-source .secondary-subsection-title {
        margin-top: 2rem;
    }
}

.open-source .hover-enlarge-img {
    position: relative;
    cursor: zoom-in;
    transition: transform .2s;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

@media only screen and (min-width: 992px) {
    .open-source .hover-enlarge-img {
        transform-origin: left center;
    }
}

.open-source .hover-enlarge-img:hover{
    z-index: 2;
    transform:scale(2);
}

.open-source .image-grid-four:hover {
    transform:scale(4);
}

.open-source .rubygems-logo-img {
    width: 50%;
    transform-origin: left bottom;
    object-fit: scale-down;
}

.open-source .rubygems-logo-img:hover {
    transform:scale(1.01);
}